<template>
	<span>

		<div class="row">
			<div class="col-md-12">
				<div class="box box-danger">
					<div class="box-header with-border">
						<h3 class="box-title">Kutucuk</h3>
								
					</div>
					<!-- /.box-header -->
					<div class="box-body">

							

					</div>
					
				</div>
			</div>
		</div>
	</span>


</template>

<script>
	import Axios from 'axios'
	import _ from 'lodash'
	import { mapGetters } from 'vuex'
	import swal from 'sweetalert2'
	import Async from 'async'

	export default 
	{
		name: 'list',
		data()
	    {
	        return {
	            
	        }
	    },
	    computed: 
	    {
	        ...mapGetters({
	           accessToken: 'getAccessToken'
	        })
	    },
	    created()
	    {	
            


	    }
	}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>