<template>
	<footer class="main-footer">
		<div class="pull-right hidden-xs">
			<b>Version</b> 2.4.0
		</div>
		<strong>Copyright &copy; 2014-2016.</strong> All rights
		reserved.
	</footer>
</template>

<script>
export default
{
	"name": "footerbar"
}
</script>

<style scoped></style>