<template>
    <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">

            <div class="user-panel">
                <div class="pull-left image">
                    <img src="https://scontent-amt2-1.xx.fbcdn.net/v/t1.0-1/c0.0.130.130/p130x130/387834_10150387717543048_2029537156_n.jpg?oh=fa1940b26c700f5a9aabfcf26f7a4964&oe=5AD839EE" class="img-circle" alt="User Image">
                </div>
                <div class="pull-left info">
                    <p>Eyüp İbişoğlu</p>
                    <a href="#"><i class="fa fa-circle text-success"></i> Geliştirici</a>
                </div>
            </div>
            
            
            <!-- /.search form -->
            <!-- sidebar menu: : style can be found in sidebar.less -->
            <ul class="sidebar-menu" data-widget="tree">
                <li class="header">Modules</li>
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-lg fa-lightbulb-o" aria-hidden="true"></i>
                        <span>Tipify</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li>
                            <a>
                                <i class="fa fa-list-alt"></i> <span><router-link to="/tipify/list">List</router-link></span>
                            </a>
                        </li>
                        <li>
                            <a>
                                <i class="fa fa-plus-circle"></i> 
                                <span>
                                <router-link to="/tipify/insert">Insert</router-link>
                            </span> 
                        </a>
                    </li>
                </ul>
            </li>

            <li class="treeview">
                <a href="#">
                    <i class="fa fa-film" aria-hidden="true"></i>

                    <span>Movify</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li>
                        <a>
                            <i class="fa fa-list-alt"></i> <span><router-link to="/movify/list">List</router-link></span>
                        </a>
                    </li>

                    <li>
                        <a>
                            <i class="fa fa-list-alt"></i> <span><router-link to="/movify/insert">Insert</router-link></span>
                        </a>
                    </li>

                    <li>
                        <a>
                            <i class="fa fa-list-alt"></i> <span><router-link to="/movify/group">Group</router-link></span>
                        </a>
                    </li>
                </ul>
            </li>

        </ul>
    </section>
    <!-- /.sidebar -->
</aside>
</template>

<script>

    export default
    {
        name: "leftbar",
        data()
        {
            return {
                accessToken: null
            }
        }
    }
</script>

<style scoped>
</style>