<template>
	<span>

		<div class="row">
			<div class="col-md-3 col-sm-6 col-xs-12">
				<div class="info-box">
					<span class="info-box-icon bg-aqua">
						<i class="fa fa-film" aria-hidden="true"></i>
					</span>

					<div class="info-box-content">
						Start
					</div>
					<!-- /.info-box-content -->
				</div>
				<!-- /.info-box -->
			</div>

		</div>
	</span>
	
</template>

<script>
	import Axios from 'axios'
	import { mapGetters } from 'vuex'
	
	export default 
	{
		name: 'home',
		data() 
        {
        	return {
	        	
        	}
        },
        computed: 
	    {
	        ...mapGetters({
	           accessToken: 'getAccessToken'
	        })
	    }
	}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>