<template>
    <div id="app">
        <div class="wrapper">
            <navbar></navbar>
            <leftbar></leftbar>
            <div class="content-wrapper">
                <section class="content">
                    <router-view></router-view>
                </section>
            </div>
        </div>
    </div>
</template>

<script>
    import Navbar from './components/adminlte/Navbar.vue';
    import Leftbar from './components/adminlte/Leftbar.vue';
    import Footerbar from './components/adminlte/Footerbar.vue';



    export default 
    {
        name: 'app',
        components:
        {
            Navbar, Footerbar, Leftbar
        }
    }
</script>

<style>

</style>
